// Navigation Styles here


//mix-ins

//parametric mix-ins

//escapes


header {
    border-bottom: 2px dashed @navigation-border;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 2%;
    // align-items: center;
  
    //@mobile is calling the escape created in the variables folder
    @media @mobile{
      flex-direction: column;
      align-items: center;
        // justify-content: space-between;
    }//media can change styles depending on what's needed. media closing tag for header 
  
    h1 {
      font-size: 4rem;
      color: @shark;
      padding-left: 22%;
      
      //@mobile is calling the escape created in the variables folder 
  
      @media @mobile {
        margin-bottom: 20px;
        padding-left: 10%;
      }//media

    }// h1
  
    nav {
        padding-right: 2%;
        margin-right: 21%;

        @media @mobile {
            // border: 1px solid green;
            display: flex;
            // padding-right: 15%;
            // padding-left: 15%;
            width: 92vw;
            margin-right: 0;
            justify-content: space-between;
        }//this is the closing media tag for the media inside the nav

        a {
        margin-left: 20px;
        font-size: 1.8rem;
        color: black;
        text-decoration: none;
        

        @media @mobile {
            display: flex;
            // border: 1px solid black;
         }//this is the closing tag for the mobile inside the nav
        }//this is the closing tag for the a inside the nav

    // .first-anchor {
    //   margin-left: 0;
    // }
    }// nav
}// header
